# Carpeta de resultados compilados
*/bin/
*/obj/

# Carpeta de paquetes NuGet restaurados
/packages/

# Archivos de configuración locales
*.suo
*.user
*.sln.docstates

# Archivos de caché y registro de Visual Studio
*.vs/
*.vshost.*
*.[Ss]ettings.settings
*.xaml.*

# Archivos de copia de seguridad
*~
*.bak
*.backup
*.swp

# Archivos generados por el compilador
*.dll
*.exe
*.pdb

# Carpetas y archivos generados por herramientas
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*GeneratedInternalTypeHelper.cs

# Logs de depuración
*.log
*.logs

# Visual Studio Code - Carpeta de configuración del proyecto
.vs/